# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.JiayiLauncher.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Jiayi\Launcher\JiayiLauncher\.idea\.idea.JiayiLauncher.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
